* {
  font-family: Arial, Helvetica, sans-serif;
}

body {
  background: #212529;
}

.gravando {
  padding: 0.4vw 1vw;
  background: red;
  color: white;
  border-radius: 0.2vw;
  display: flex;
  align-items: center;
  margin: 1vw;
  border: none;
}

.gravando-botao :hover {
  background: rgb(190, 0, 0);
  cursor: pointer;
}

.gravando p {
  padding-left: 0.5vw; 
  text-transform: uppercase;
  font-size: small; /* equivale a fonte pequena = 10px */
}

#participantes-chamada {
  width: 65vw;
  margin-top: 0.8vw;
  margin-left: 0.8vw;
  display: flex;
  flex-direction: row; 
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: start;
}

.participantes {
  width: 21vw;
  background: #585858;
  border-radius: 1vw;
  margin-bottom: 0.5vw;
  padding-bottom: 1vw;
  text-align: center;
  align-items: center;
}

.participante-falando {
  border: 0.2vw solid rgb(46, 79, 189);
  width: 21vw;
  border-radius: 1vw;
  background: #585858;
  padding-bottom: 0.8vw;
  text-align: center;
  align-items: center;
  box-sizing: border-box;
}

/*#participantes-chamada :hover {
  background: #4d4d4d;
}*/

/*.participantes-informacao {
  flex-direction: column;
}*/

.participantes-audio {
  display: flex;
  justify-content: flex-end;
  padding: 0.4vw;
  padding-bottom: 0; 
}

.participantes-audio svg {
  border-radius: 50%;
  color: white;
  padding: 0.4vw;
  background: #777777;
}

.participante-audio-ligado {
  display: flex;
  justify-content: flex-end;
  padding: 0.4vw;
  padding-bottom: 0;
}

.participante-audio-ligado svg {
  border-radius: 50%;
  padding: 0.4vw;
  background: rgb(46, 79, 189);
  color: white;
}

.fotinha {
  border-radius: 50%;
  width: 6vw;
  height: 6vw;
  text-align: center;
}

.fotinha-falando {
  border-radius: 50%;
  align-items: center;
  width: 6vw;
  height: 6vw;
  border: 0.2vw solid gray;
  box-sizing: border-box;
}

.participantes-informacao p {
  margin-top: 0.8vw; 
  font-size: 1vw;
  color: white;
}

#mensagem-chamada {
  position: absolute;
  top: 1vw;
  left: 67vw;
  width: 31vw;
  background: white;
  border-radius: 0.5vw;
}

#mensagem-chamada li, ul {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.mensagemNachamada {
  padding: 1.1vw;
  margin-bottom: 1.1vw;
}

.mensagemNachamada p {
  font-size: 2vw;
  padding-left: 0.8vw; 
}

.mensagemNachamada svg {
  padding-left: 3.5vw;
}

.caixaPermissao {
  width: 27vw;
  background: rgba(128, 128, 128, 0.151);
  border-radius: 0.5vw;
  margin: auto;
  padding: 0.8vw;
}

.caixaPermissao p {
  font-size: 1vw;
  width: 24vw;
  display: inline-block;
}

.comentarios {
  font-size: 1.1vw;
  padding: 1vw;
  margin: 0.5vw 0 0 1vw; 
}

.comentarios-nome {
  font-weight: bold;
  display: inline-block;
  margin-bottom: 0.4vw;
  margin-right: 1.1vw;
}

.campo-mensagem {
  display: flex;
  direction: row;
  border-radius: 2.5vw;
  border: none;
  font-size: 1vw;
  padding: 0.3vw 0.8vw;
  width: 28vw;
  background: rgba(128, 128, 128, 0.151);
  margin: 4vw 0.8vw 1vw 0.8vw;
}

form {
  display: flex;
  direction: row;
  align-items: center;
}

.campo-mensagem svg {
  color: rgba(128, 128, 128, 0.472);
  cursor: pointer;
}

.campo-mensagem button :hover {
  color: rgba(128, 128, 128, 0.726);
}

.campo-mensagem button {
  border: none;
  width: 3vw;
  height: 2.5vw;
  background: rgba(128, 128, 128, 0)
}

input {
  border: none;
  border-radius: 2vw;
  font-size: 1vw;
  background: rgba(128, 128, 128, 0);
  padding: 0.8vw 0.8vw;
  width: 23vw;
  outline: none;
}

#rodape {
  color: white;
  width: 100%;
  margin-top: 1vw;
}

#rodape p {
  font-size: 2vw;
  font-family: 'Gill Sans', 'Gill Sans MT', 'Calibri', 'Trebuchet MS', sans-serif;
}

#rodape ul {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center; 
}

#rodape svg {
  cursor: pointer;
}

.rodape-horario {
  direction: row;
  display: flex;
  padding: 0 2vw;
}

.rodape-principal {
  direction: row;
  display: flex;
  width: 27vw;
  justify-content: space-between;
}

.botao-cinza {
  height: 2vw;
  width: 2vw;
  border-radius: 50%;
  background: rgb(107, 107, 107);
  padding: 0.8vw;
  display: flex;
  align-items: center;
  justify-content: center;
}

.botao-camera {
  height: 2vw;
  width: 2vw;
  border-radius: 50%;
  background: red;
  padding: 0.8vw;
  display: flex;
  align-items: center;
  justify-content: center;
}

.botao-chamada {
  height: 2vw;
  width: 3.5vw;
  border-radius: 45%;
  background: red;
  padding: 0.8vw;
  display: flex;
  align-items: center;
  justify-content: center;
}

.botao-cinza svg, .botao-camera svg, .botao-chamada svg {
  width: 1.3vw;
  height: 1.3vw;
}

.rodape-secundario {
  direction: row;
  display: flex;
  padding: 0 2vw;
}

.rodape-principal li {
  margin: 0 0.2vw;
}

 .rodape-secundario li {
  margin: 0 1vw;
}
